@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    font: 400 18px 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-content {
    display: grid;
    grid-gap: 15px;
}
.aboutme {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 10px 10px 5px grey;
}
.experience {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 10px 10px 5px grey;
}
footer {
}
h1 {
    color: black;
    font-size: 3rem;
}
h2{
    color: black;
    font-size: 2rem;
}

header{
}

small{
	font-size:0.8rem;
}

.banner{
	background-color: darkred;
    height: auto;
    border-style: solid;
    border-radius: 1rem;
    border-width: 1rem;
    border-color: darkred;
}
#projects {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 20px;
}
#work-history {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 20px;
}
.project-card{
    border: 0.1rem solid;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 10px 10px 5px grey;
}

.job-card {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 10px 10px 5px grey;
}
body{
    border: 1rem; 
}


.modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
.modal-content h2{
    font-size: 1rem;
}

.modal-content h1{
    font-size: 1.5rem;
}
/*Photo carousel*/
button {
    border-radius: 0.42rem;
}    

img {
    border-radius: 0.42rem;
}

.content {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#skillsList{
    padding: 0.5rem;
    font-size: 2rem;
}
#practiceslist{
    padding: 0.5rem;
    font-size: 2rem;
}